@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50;
  }

  /* Custom Scrollbar for premium feel */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-indigo-200;
  }
}

@media print {
  /* Hide UI elements */
  aside, 
  header select, 
  header [role="button"],
  header button,
  .print-hide {
    display: none !important;
  }

  /* Reset layout for print */
  body, html {
    height: auto !important;
    overflow: visible !important;
    background: white !important;
  }

  /* Specific Report Utility */
  .page-break-after {
    page-break-after: always !important;
    break-after: page !important;
  }
}
